{% if element.aliases %}
## Aliases
{% for alias in element.aliases %}
* {{ alias }}
{%- endfor %}
{% endif %}


{%- macro obj_yaml(o, ind='') -%}
{% for k in o %}{% if k|string != '_if_missing' %}{{ ind }}{{ k }}:{% if o[k] is iterable and o[k] is not string and o[k]|string|first != '[' %}
{{ obj_yaml(o[k], ind ~ '  ') }}{% else %} {{ o[k]|tojson }}
{% endif %}{% endif %}{% endfor %}
{%- endmacro -%}
{%- macro inline(s) -%}{% if '`' in s|string %}{{ s|string|replace('`', '\`') }}{% else %}`{{ s }}`{% endif %}{%- endmacro -%}
{% if element.examples %}
## Examples

{% for x in element.examples -%}
{% if x.object is not none %}{% if x.object is iterable and x.object is not string and x.object|string|first != '[' %}{% set ns = namespace(has=false) %}{% for k in x.object %}{% if k|string != '_if_missing' %}{% set ns.has = true %}{% endif %}{% endfor %}{% if ns.has %}{% if x.description is not none %}{{ x.description }}

{% endif %}```yaml
{{ obj_yaml(x.object) }}```
{% else %}- {{ inline('{}') }}{% if x.description is not none %} - {{ x.description }}{% endif %}
{% endif %}{% else %}- {{ inline(x.object|tojson) }}{% if x.description is not none %} - {{ x.description }}{% endif %}
{% endif %}{% else %}- {{ inline(x.value) }}{% if x.description is not none %} - {{ x.description }}{% endif %}
{% endif %}
{% endfor %}
{% endif -%}

{% if element.comments -%}
## Comments
{% for x in element.comments -%}
* {{x}}
{% endfor %}
{% endif -%}

{% if element.see_also -%}
## See Also
{% for x in element.see_also -%}
* {{ gen.uri_link(x) }}
{% endfor %}
{% endif -%}

## Identifier and Mapping Information
{% if element.id_prefixes %}
### Valid ID Prefixes

Instances of this class *should* have identifiers with one of the following prefixes:
{% for p in element.id_prefixes %}
* {{p}}
{% endfor %}

{% endif %}


{% if element.annotations %}
### Annotations

| property | value |
| --- | --- |
{% for a in element.annotations -%}
{%- if a|string|first != '_' -%}
| {{ a }} | {{ element.annotations[a].value }} |
{%- endif -%}
{% endfor %}
{% endif %}

{% if element.from_schema or element.imported_from %}
### Schema Source

{% if element.from_schema %}
* from schema: {{ element.from_schema }}
{% endif %}
{% if element.imported_from %}
* imported from: {{ element.imported_from }}
{% endif %}
{% endif %}

{% if schemaview.get_mappings(element.name).items() -%}
## Mappings
| Mapping Type | Mapped Value |
| ---  | ---  |
{% set native_mappings = schemaview.get_mappings(element.name).get('native', []) %}
{%- for m, mt in schemaview.get_mappings(element.name).items() -%}
{% if mt|length > 0 -%}
    {% set display_key = 'mappings' if m == 'undefined' else m -%}
    {% set filtered_mt = mt | reject('in', native_mappings) | list -%}
    {% if filtered_mt|length > 0 -%}
| {{ display_key }} | {{ filtered_mt|join(', ') }} |
    {% endif -%}
{% endif -%}
{% endfor %}

{% endif -%}
