# National Microbiome Data Collaborative Schema Documentation
![NMDC_logo.png](images/NMDC_logo.png)

{{ schema.description }}

This schema is organized into two modules:

* A core set of elements for representing data values represented in LinkML format (https://w3id.org/linkml/) consisting
of a set classes, slots, types, and enumerations that are used to define the structure of the NMDC schema.

* A subset of the MIxS schema developed by the Genomic Standards Consortium, that is used to describe the
environmental context of samples.


URI: <a href={{ schema.id }}>{{ schema.id }}</a>


## Classes

| Class | Description |
| --- | --- |
{% for u, v in gen.class_hierarchy_as_tuples() -%}
| {{ "&nbsp;"|safe*u*8 }}{{ gen.link(schemaview.get_class(v)) }} | {{ schemaview.get_class(v).description|enshorten }} |
{% endfor %}

## Slots

| Slot | Description |
| --- | --- |
{% for s in gen.all_slot_objects()|sort(attribute=sort_by) -%}
| {{gen.link(s)}} | {{s.description|enshorten}} |
{% endfor %}

## Enumerations

| Enumeration | Description |
| --- | --- |
{% for e in gen.all_enum_objects()|sort(attribute=sort_by) -%}
| {{gen.link(e)}} | {{e.description|enshorten}} |
{% endfor %}

## Types

| Type | Description |
| --- | --- |
{% for t in gen.all_type_objects()|sort(attribute=sort_by) -%}
| {{gen.link(t)}} | {{t.description|enshorten}} |
{% endfor %}

## Subsets

| Subset | Description |
| --- | --- |
{% for ss in schemaview.all_subsets().values()|sort(attribute='name') -%}
| {{gen.link(ss)}} | {{ss.description|enshorten}} |
{% endfor %}
