# Slot: {{ gen.name(element) }}

{% if element.title is not none %}
Title: {{ element.title }}
{% endif %}

{%- if header -%}
{{header}}
{%- endif -%}

{% if element.description %}
_{{ element.description }}_
{% endif %}

URI: [{{ gen.uri(element) }}]({{ gen.uri(element) }})


{% if schemaview.get_classes_by_slot(element, include_induced=True) %}

## Applicable Classes

| Name | Description |
| --- | --- |
{% for c in schemaview.get_classes_by_slot(element, include_induced=True) -%}
{{ gen.link(c) }} | {{ schemaview.get_class(c).description }}
{% endfor %}

{% endif %}

{% if schemaview.slot_parents(element.name) or schemaview.slot_children(element.name, mixins=False) %}

## Inheritance

{{ gen.inheritance_tree(element, mixins=True) }}
{% else %}
<!-- no inheritance hierarchy -->
{% endif %}

## Properties

* Range: {{gen.link(element.range)}}
* Multivalued: {{ element.multivalued }}
{% if element.aliases %}
* Aliases:
    {% for alias in element.aliases -%}
        * {{ alias }}
{% endfor %}
{% endif %}

{% if element.required %}
* Required: {{ element.required }}
{% elif element.recommended %}
* Recommended: {{ element.recommended }}
{% endif %}

{% if schemaview.usage_index().get(element.name) %}
| used by | used in | type | used |
| ---  | --- | --- | --- |
{% for usage in schemaview.usage_index().get(element.name) -%}
| {{gen.link(usage.used_by)}} | {{gen.link(usage.slot)}} | {{usage.metaslot}} | {{usage.used }} |
{% endfor %}
{% endif %}

{% include "common_metadata.md.jinja2" %}