target/
site/
venv/
docs/*md
docs/types/
*/my_schema.*
.env
.venv
local/

# directory that hold the nmdc_schema pypi package
nmdc_schema/

# jupyter backups
.ipynb_checkpoints/

.DS_Store

# PyCharm project config
.idea/

*.old

# emacs backup files
*~

# ignore files needed for pypi distribution
__pycache__/
build/
dist/
*.egg-info/
*.egg
