.DS_Store

# these are always marked as follows on my computers
# shhould we just ignore them?

# Untracked files:
#   (use "git add <file>..." to include in what will be committed)

docs/images/
docs/schema-slides.html
python/annotation.py
python/basic_slots.py
python/core.py
python/external_identifiers.py
python/mixs.py
python/prov.py
python/workflow_execution_activity.py

# maybe do an overall review of this .gitignore file vs https://github.com/github/gitignore/blob/main/Python.gitignore

target/
site/
venv/
docs/*md
docs/types/
*/my_schema.*
.env
.venv
local/

# directory that hold the nmdc_schema pypi package
nmdc_schema/

# jupyter backups
.ipynb_checkpoints/

.DS_Store

# PyCharm project config
.idea/

*.old

# emacs backup files
*~

# ignore files needed for pypi distribution
__pycache__/
build/
dist/
*.egg-info/
*.egg
