site_name: "NMDC Schema Documentation"
theme:
  name: readthedocs
  features:
    - navigation.instant
nav:
  - Home: home.md
  - NMDC Schema: index.md
  - NMDC Metadata Standards Documentation:  Metadata_Documentation_Overview.md 
  - NMDC Schema Validation: schema-validation.md
  - Identifiers in NMDC: identifiers.md
  - MIxS Soil Package: NMDC_MIxS_Soil_documentation.md
  - Schema Slides: schema-slides.html
  - Credits: credits.md    
