site_name: "NMDC Schema Documentation"
theme:
  name: material
  #  palette:
  #    scheme: slate
  #    primary: cyan
  features:
    - content.tabs.link
plugins:
  - search
  - mermaid2
nav:
  - About: about.md
  - Identifiers in NMDC: identifiers.md
  - NMDC Metadata Standards Documentation: Metadata_Documentation_Overview.md
  - NMDC Schema Validation: schema-validation.md
  - NMDC Schema: index.md

site_url: https://microbiomedata.github.io/nmdc-schema
repo_url: https://github.com/microbiomedata/nmdc-schema

# Uncomment this block to enable use of Google Analytics. 
# Replace the property value with your own ID.
# extra:
#   analytics:
#     provider: google
#     property: G-XXXXXXXXXX
