[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
linkml = ">=1.0.3"
jq = "*"
mkdocs = "*"
twine = "*"
build = "*"
openpyxl = "3.0.7"

[dev-packages]

[requires]
python_version = "3.9"
