[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
linkml-runtime = ">=1.1.6"
click_log = "*"
jsonasobj2 = "*"

[dev-packages]
linkml = ">=1.1.13"
jq = "*"
mkdocs = "*"
pandoc = "*"
twine = "*"
build = "*"
# not sure why we would need openpyxl, but 3.0.8 caused unresolvable dependcies in main
openpyxl = "3.0.7"

[requires]
python_version = "3.9"
