[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
linkml = ">=1.0.4"
jq = "*"
mkdocs = "*"
twine = "*"
build = "*"
# not sure why we would need openpyxl, but 3.0.8 caused unresolvable dependcies in main
openpyxl = "3.0.7"

[dev-packages]

[requires]
python_version = "3.9"
