[tool.poetry]

#include = ["README.md", "src/nmdc-schema/schema", "project"] # https://python-poetry.org/docs/pyproject/#include-and-exclude # Explicitly declaring entries in include will negate VCS' ignore settings.

description = "Schema resources for the National Microbiome Data Collaborative (NMDC)"
documentation = "https://microbiomedata.github.io/nmdc-schema/"
homepage = "https://microbiomedata.github.io/nmdc-schema/"
keywords = ["NMDC", "schema", "metadata", "microbiome"]
license = "MIT"
name = "nmdc_schema"
readme = "README.md"
repository = "https://github.com/microbiomedata/nmdc-schema"
version = "9.2.0" # nmdc.yaml and GH say v9.2.0
authors = [
    "Bill Duncan <wdduncan@gmail.com>",
    "Chris Mungall <cjmungall@lbl.gov>",
    "Mark Andrew Miller <MAM@lbl.gov>",
    "Patrick Kalita <pkalita@lbl.gov>",
    "Sujay Patil <spatil@lbl.gov>",
]


classifiers = [
    "Development Status :: 5 - Production/Stable",
    "Intended Audience :: Developers",
    "Intended Audience :: Science/Research",
    "Programming Language :: Python :: 3 :: Only",
]

# Tell Poetry which Python packages we want it to include in the build it creates.
#
# Note: This will allow consumers of the PyPI package to import things from not only `nmdc_schema`,
#       but also from `nmdc_schema.migrators`.
#
#       The [Poetry docs](https://python-poetry.org/docs/basic-usage/) say:
#       > "Poetry assumes your package contains a package with the same name as `tool.poetry.name`
#       > located in the root of your project. If this is not the case, populate `tool.poetry.packages`
#       > to specify your packages and their locations."
#
packages = [
    { include = "nmdc_schema" }, # this is the package Poetry would have included by default
    { include = "migrators", from = "nmdc_schema" },
]

[tool.poetry.dependencies]
linkml = "^1.6.3"
linkml-runtime = "^1.6.2"
python = "^3.9"
click-log = "^0.4.0"
ruamel-yaml = "^0.18.5"

[tool.poetry.group.dev.dependencies] # are some of these actually required as non-dev dependencies?
pydantic = "^1.10.13"
black = "^23.1.0"
click-log = "^0.4.0"
cruft = "^2.12.0"
deepdiff = "^6.2.1"
exhaustion-check = "^0.1.1" # for exhaustion-check, pretty-sort-yaml (also get-first-of-first)
gen-pop-linkml2sheets = "^0.1.8" # for generate_and_populate_template, deprecated by schemasheets linkml2schemasheets-template
mkdocs = "^1.4.2"
mkdocs-material = "^9.0.12"
mkdocs-mermaid2-plugin = "^0.6.0"
mkdocs-redirects = "^1.2.1"
oaklib = "0.5.6"
pymongo = "^4.3.3"
python-dotenv = "^0.21.0"
rdflib = "^6.2.0" # some LinkML components are not compatible with rdflib 7+ yet
schemasheets = "^0.1.18"
sheets_and_friends = "^0.5.0"
sparql-burger = "^1.0.2"
sparql-dataframe = "^0.4"
strsimpy = "0.2.1"
toml = "0.10.2"

## cheat sheet for other ways of loading a dev dependency. add github branch method.
## /Users/MAM/Documents/gitrepos/sheets_and_friends
## /home/mark/gitrepos/sheets_and_friends
#sheets-and-friends = { path = "/home/mark/gitrepos/sheets_and_friends", develop = true }

[tool.poetry-dynamic-versioning]
enable = false
vcs = "git"
style = "pep440"

#[tool.poetry-dynamic-versioning.substitution]
#files = [
#    "*.py",
#    "src/**/__init__.py",
#    "src/**/__version__.py",
#    "src/**/_version.py",
#    "src/schema/nmdc.yaml"
#]
#patterns = [
#    "(^\\s*__version__\\s*(?::.*?)?=\\s*['\\\"])[^'\\\"]*(['\\\"])",
#    "(^version:\\s*['\\\"]?)[^'\\\"]*?(['\\\"]?)$"
#]

[build-system]
requires = ["poetry-core>=1.0.0", "poetry-dynamic-versioning"]
build-backend = "poetry_dynamic_versioning.backend"

[tool.poetry.extras]
docs = ["mkdocs-material"]

[tool.poetry.scripts]
anyuri-strings-to-iris = 'nmdc_schema.anyuri_strings_to_iris:expand_curies'
build-datafile-from-api-requests = "nmdc_schema.build_datafile_from_api_requests:main"
class-sparql = "nmdc_schema.class_sparql:main"
fetch-nmdc-schema = "nmdc_schema.nmdc_data:get_nmdc_jsonschema"
generate-import-slots-regardless = "nmdc_schema.generate_import_slots_regardless:main"
get-mixs-slots-matching-slot-list = "nmdc_schema.get_mixs_slots_matching_slot_list:main"
get-mixs-slots-used-in-schema = "nmdc_schema.get_mixs_slots_used_in_schema:main" # see nmdc_schema/generate_import_slots_regardless.py
get-slots-from-class = "nmdc_schema.get_slots_from_class:main" # see tests/test_getters.py
migration-recursion = 'nmdc_schema.migration_recursion:main'
nmdc-data = "nmdc_schema.nmdc_data:cli"
nmdc-version = "nmdc_schema.nmdc_version:cli"
pure-export = "nmdc_schema.mongo_dump_api_emph:cli"
test-more-tolerant-schema = "nmdc_schema.test_more_tolerant_schema:do_test"
