[tool.poetry]
description = "Schema resources for the National Microbiome Data Collaborative (NMDC)"
documentation = "https://microbiomedata.github.io/nmdc-schema/"
homepage = "https://microbiomedata.github.io/nmdc-schema/"
#include = ["README.md", "src/nmdc-schema/schema", "project"]
keywords = ["NMDC", "schema", "metadata", "microbiome"]
license = "MIT"
name = "nmdc_schema"
readme = "README.md"
repository = "https://github.com/microbiomedata/nmdc-schema"
version = "0.0.0"
authors = [
    "Bill Duncan <wdduncan@gmail.com>",
    "Chris Mungall <cjmungall@lbl.gov>",
    "Mark Andrew Miller <MAM@lbl.gov>",
    "Sujay Patil <spatil@lbl.gov>",
]

[tool.poetry.dependencies]
linkml-runtime = "^1.4.5"
python = "^3.9"
jupyter = "^1.0.0"
toml = "^0.10.2"
check-jsonschema = "^0.21.0"

[tool.poetry.group.dev.dependencies]
black = "^23.1.0" # "^22.10.0" vs 23.1.0
cruft = "^2.12.0"
linkml = "^1.4.4"
mkdocs = "^1.4.2"
mkdocs-material = "^9.0.12" # "^8.5.11" vs 9.0.12
mkdocs-mermaid2-plugin = "^0.6.0"
pandasql = "^0.7.3" # might be able to replace this?
pygsheets = "^2.0.6" # why are we importing this, when we're alredy using cogs?
python-dotenv = "^0.21.1"
schemasheets = "^0.1.18" # ^0.1.0" vs 0.1.17

#Because schemasheets (0.1.17) depends on linkml (>=1.3,<1.4)
# and no versions of schemasheets match >0.1.17,<0.2.0, schemasheets (>=0.1.17,<0.2.0) requires linkml (>=1.3,<1.4).
#So, because nmdc-schema depends on both linkml (^1.4.4) and schemasheets (^0.1.17), version solving failed.

sheets-and-friends = "^0.1.4"
strsimpy = "^0.2.1"

#[tool.poetry.dev-dependencies]
#build = "^0.9.0"
#check-jsonschema = "^0.19.2"
#click-log = "^0.4.0"
#deepdiff = "^6.2.1"
#docutils = "^0.19"
#jq = "^1.3.0"
#jupyter = "^1.0.0"
#pandas = "^1.5.1"
#pendulum = "^2.1.2"
#pymongo = "^4.3.3"
#python-dotenv = "^0.21.0"
#twine = "^4.0.1"

[tool.poetry-dynamic-versioning]
enable = false
vcs = "git"
style = "pep440"

[build-system]
requires = ["poetry-core>=1.0.0", "poetry-dynamic-versioning"]
build-backend = "poetry_dynamic_versioning.backend"

[tool.poetry.extras]
docs = ["linkml", "mkdocs-material"]

[tool.poetry.scripts]
boolean_usages = "nmdc_schema.boolean_usages:cli"
fetch-nmdc-schema = "nmdc_schema.nmdc_data:get_nmdc_jsonschema"
generate_import_slots_regardless = "nmdc_schema.generate_import_slots_regardless:main"
get_class_usages = "nmdc_schema.get_class_usages:main"
get_mixs_slots_matching_slot_list = "nmdc_schema.get_mixs_slots_matching_slot_list:main"
get_mixs_slots_used_in_schema = "nmdc_schema.get_mixs_slots_used_in_schema:main"
get_slots_from_class = "nmdc_schema.get_slots_from_class:main"
minimal_get_submissions = "nmdc_schema.minimal_get_submissions:cli"
mixs_coverage = "nmdc_schema.mixs_coverage:cli"
mixs_deep_diff = "nmdc_schema.mixs_deep_diff:cli"
mixs_slot_text_mining = "nmdc_schema.mixs_slot_text_mining:cli"
nmdc-data = "nmdc_schema.nmdc_data:cli"
nmdc-version = "nmdc_schema.nmdc_version:cli"
slot_roster = "nmdc_schema.slot_roster:cli"

#validate-nmdc-json is deprecated by check-json-schema, which is in turn deprereated by run-linkml-examples
#validate-nmdc-json = "nmdc_schema.validate_nmdc_json:cli"


#classifiers = [
#    "Development Status :: 4 - Beta",
#    "Programming Language :: Python :: 3 :: Only",
#    "Intended Audience :: Developers",
#    "Intended Audience :: Science/Research",
#    "License :: CC0 1.0 Universal (CC0 1.0) Public Domain Dedication",
#]