[tool.poetry]
description = "Schema resources for the National Microbiome Data Collaborative (NMDC)"
documentation = "https://microbiomedata.github.io/nmdc-schema/"
homepage = "https://microbiomedata.github.io/nmdc-schema/"
#include = ["README.md", "src/nmdc-schema/schema", "project"]
keywords = ["NMDC", "schema", "metadata", "microbiome"]
license = "MIT"
name = "nmdc_schema"
readme = "README.md"
repository = "https://github.com/microbiomedata/nmdc-schema"
version = "0.0.0"
authors = [
    "Bill Duncan <wdduncan@gmail.com>",
    "Chris Mungall <cjmungall@lbl.gov>",
    "Mark Andrew Miller <MAM@lbl.gov>",
    "Sujay Patil <spatil@lbl.gov>",
]

[tool.poetry.dependencies]
linkml-runtime = "^1.3.0"
python = "^3.9"

[tool.poetry.group.dev.dependencies]
black = "^22.10.0"
cruft = "^2.12.0"
linkml = "^1.4.3"
mkdocs = "^1.4.2"
mkdocs-material = "^8.5.7"
mkdocs-mermaid2-plugin = "^0.6.0"
sheets-and-friends = "^0.1.0"
pygsheets = "*"
pandasql = "*"

[tool.poetry-dynamic-versioning]
enable = true
vcs = "git"
style = "pep440"

#[tool.poetry.dev-dependencies]
#build = "^0.9.0"
#check-jsonschema = "^0.19.2"
#click-log = "^0.4.0"
#deepdiff = "^6.2.1"
#docutils = "^0.19"
#jq = "^1.3.0"
#jupyter = "^1.0.0"
#pandas = "^1.5.1"
#pendulum = "^2.1.2"
#pymongo = "^4.3.3"
#python-dotenv = "^0.21.0"
#twine = "^4.0.1"

[build-system]
requires = ["poetry-core>=1.0.0", "poetry-dynamic-versioning"]
build-backend = "poetry_dynamic_versioning.backend"

[tool.poetry.extras]
docs = ["linkml", "mkdocs-material"]

[tool.poetry.scripts]
fetch-nmdc-schema = "nmdc_schema.nmdc_data:get_nmdc_jsonschema"
nmdc-data = "nmdc_schema.nmdc_data:cli"
nmdc-version = "nmdc_schema.nmdc_version:cli"
get_mixs_slots_used_in_schema = "nmdc_schema.get_mixs_slots_used_in_schema:main"
generate_import_slots_regardless = "nmdc_schema.generate_import_slots_regardless:main"

#validate-nmdc-json is deprecated by check-json-schema, which is in turn deprereated by run-linkml-examples
#validate-nmdc-json = "nmdc_schema.validate_nmdc_json:cli"


#classifiers = [
#    "Development Status :: 4 - Beta",
#    "Programming Language :: Python :: 3 :: Only",
#    "Intended Audience :: Developers",
#    "Intended Audience :: Science/Research",
#    "License :: CC0 1.0 Universal (CC0 1.0) Public Domain Dedication",
#]