[tool.poetry]
#include = ["README.md", "src/nmdc-schema/schema", "project"]
description = "Schema resources for the National Microbiome Data Collaborative (NMDC)"
documentation = "https://microbiomedata.github.io/nmdc-schema/"
homepage = "https://microbiomedata.github.io/nmdc-schema/"
keywords = ["NMDC", "schema", "metadata", "microbiome"]
license = "MIT"
name = "nmdc_schema"
readme = "README.md"
repository = "https://github.com/microbiomedata/nmdc-schema"
version = "7.6.2"
authors = [
    "Bill Duncan <wdduncan@gmail.com>",
    "Chris Mungall <cjmungall@lbl.gov>",
    "Mark Andrew Miller <MAM@lbl.gov>",
    "Patrick Kalita <pkalita@lbl.gov>",
    "Sujay Patil <spatil@lbl.gov>",
]

[tool.poetry.dependencies]
python = "^3.9"
# see https://github.com/microbiomedata/nmdc-schema/issues/820
exhaustion-check = "^0.1.1"
gen-pop-linkml2sheets = "^0.1.8"
linkml = "1.5.2"
linkml-runtime = "1.5.2"


[tool.poetry.group.dev.dependencies]
black = "^23.1.0"
check-jsonschema = "^0.21.0"
click-log = "^0.4.0"
cruft = "^2.12.0"
deepdiff = "^6.2.1"
jupyter = "^1.0.0"
mkdocs = "^1.4.2"
mkdocs-material = "^9.0.12"
mkdocs-mermaid2-plugin = "^0.6.0"
pandasql = "^0.7.3" # might be able to replace this?
pygsheets = "^2.0.6" # why are we importing this, when we're alredy using cogs?
python-dotenv = "^0.21.0"
schemasheets = "^0.1.18"
strsimpy = "*"
toml = "*"
exhaustion-check = "^0.1.1"
pymongo = "^4.3.3"
oaklib = "*"

sheets_and_friends = "^0.5.0"
## /Users/MAM/Documents/gitrepos/sheets_and_friends
## /home/mark/gitrepos/sheets_and_friends
#sheets-and-friends = { path = "/home/mark/gitrepos/sheets_and_friends", develop = true }

[tool.poetry-dynamic-versioning]
enable = false
vcs = "git"
style = "pep440"

#[tool.poetry-dynamic-versioning.substitution]
#files = [
#    "*.py",
#    "src/**/__init__.py",
#    "src/**/__version__.py",
#    "src/**/_version.py",
#    "src/schema/nmdc.yaml"
#]
#patterns = [
#    "(^\\s*__version__\\s*(?::.*?)?=\\s*['\\\"])[^'\\\"]*(['\\\"])",
#    "(^version:\\s*['\\\"]?)[^'\\\"]*?(['\\\"]?)$"
#]

[build-system]
requires = ["poetry-core>=1.0.0", "poetry-dynamic-versioning"]
build-backend = "poetry_dynamic_versioning.backend"

[tool.poetry.extras]
docs = ["mkdocs-material"]

[tool.poetry.scripts]
#boolean_usages = "nmdc_schema.boolean_usages:cli"
#get_class_usages = "nmdc_schema.get_class_usages:main"
#slot_roster = "nmdc_schema.slot_roster:cli"
#validate-nmdc-json = "nmdc_schema.validate_nmdc_json:cli"
#validate-nmdc-json is deprecated by check-jsonschema, which is in turn deprereated by run-linkml-examples
fetch-nmdc-schema = "nmdc_schema.nmdc_data:get_nmdc_jsonschema"
generate_import_slots_regardless = "nmdc_schema.generate_import_slots_regardless:main"
get_mixs_slots_matching_slot_list = "nmdc_schema.get_mixs_slots_matching_slot_list:main"
get_mixs_slots_used_in_schema = "nmdc_schema.get_mixs_slots_used_in_schema:main"
get_slots_from_class = "nmdc_schema.get_slots_from_class:main"
minimal_get_submissions = "nmdc_schema.minimal_get_submissions:cli"
mixs_coverage = "nmdc_schema.mixs_coverage:cli"
mixs_deep_diff = "nmdc_schema.mixs_deep_diff:cli"
mixs_slot_text_mining = "nmdc_schema.mixs_slot_text_mining:cli"
mongodb_exporter = "nmdc_schema.mongodb_direct_to_nmdc_Database_file:export_to_yaml"
nmdc-data = "nmdc_schema.nmdc_data:cli"
nmdc-version = "nmdc_schema.nmdc_version:cli"

#classifiers = [
#    "Development Status :: 4 - Beta",
#    "Programming Language :: Python :: 3 :: Only",
#    "Intended Audience :: Developers",
#    "Intended Audience :: Science/Research",
#    "License :: CC0 1.0 Universal (CC0 1.0) Public Domain Dedication",
#]