DATA_MICROBIOMEDATA_ORG_SESSION_COOKIE=

# open a tunnel to the source mongo if necessary
SOURCE_MONGO_USER=
SOURCE_MONGO_PASS=
SOURCE_MONGO_HOST=
SOURCE_MONGO_PORT=
SOURCE_MONGO_AUTH_SUFFIX=authSource=admin&readPreference=primary&directConnection=true&ssl=false

DEST_MONGO_USER=
DEST_MONGO_PASS=
DEST_MONGO_HOST=
DEST_MONGO_PORT=
DEST_MONGO_AUTH_SUFFIX=authSource=admin&readPreference=primary&directConnection=true&ssl=false
