# open a tunnel to the source mongo if necessary
SOURCE_MONGO_USER=
SOURCE_MONGO_PASS=
SOURCE_MONGO_HOST=
SOURCE_MONGO_PORT=
SOURCE_MONGO_AUTH_SUFFIX=authSource=admin&readPreference=primary&directConnection=true&ssl=false

# what about destination values?
