id: https://w3id.org/nmdc/attribute_values
name: NMDC-Attribute-values
title: NMDC Attribute Value Types
description: Schema for National Microbiome Data Collaborative (NMDC), Attribute Value Types

license: https://creativecommons.org/publicdomain/zero/1.0/

imports:
  - basic_classes # in cycle with external_identifier and mixs
  - basic_slots

classes:
  AttributeValue:
    class_uri: 'nmdc:AttributeValue'
    description: >-
      The value for any value of a attribute for a sample. This object can hold both the un-normalized atomic
      value and the structured value
    slots:
      - has_raw_value
      - was_generated_by
      - type

  QuantityValue:
    class_uri: nmdc:QuantityValue
    is_a: AttributeValue
    description: A simple quantity, e.g. 2cm
    slots:
      - has_maximum_numeric_value
      - has_minimum_numeric_value
      - has_numeric_value
      - has_unit
    slot_usage:
      has_raw_value:
        description: Unnormalized atomic string representation, should in syntax {number} {unit}
      has_unit:
        description: The unit of the quantity
      has_numeric_value:
        description: The number part of the quantity
    # range: double # MAM 2024-0405 I don't believe we have any data that requires this level of precision
    mappings:
      - schema:QuantityValue

  ImageValue:
    class_uri: nmdc:ImageValue
    is_a: AttributeValue
    description: An attribute value representing an image.
    slots:
      - url
      - description
      - display_order

  PersonValue:
    class_uri: nmdc:PersonValue
    is_a: AttributeValue
    description: An attribute value representing a person
    slots:
      - email
      - name
      - orcid
      - profile_image_url
      - websites
    todos:
      - add additional fields e.g for institution
      - deprecate "has_raw_value" in favor of "name"
    slot_usage:
      orcid:
        annotations:
          display_hint: Open Researcher and Contributor ID for this person. See https://orcid.org
      email:
        annotations:
          display_hint: Email address for this person.
      has_raw_value:
        description: The full name of the Investigator in format FIRST LAST.
        notes:
          - May eventually be deprecated in favor of "name".
      name:
        description: >-
          The full name of the Investigator.
          It should follow the format FIRST [MIDDLE NAME| MIDDLE INITIAL] LAST, where MIDDLE NAME| MIDDLE INITIAL is optional.
        annotations:
          display_hint: First name, middle initial, and last name of this person.
  TextValue:
    class_uri: nmdc:TextValue
    is_a: AttributeValue
    description: A basic string value
    slots:
      - language

  #  UrlValue:
  #    class_uri: nmdc:UrlValue
  #    is_a: AttributeValue
  #    description: A value that is a string that conforms to URL syntax

  TimestampValue:
    class_uri: nmdc:TimestampValue
    is_a: AttributeValue
    description: A value that is a timestamp. The range should be ISO-8601
    notes:
      - "removed the following slots: year, month, day"

  #  IntegerValue:
  #    class_uri: 'nmdc:IntegerValue'
  #    is_a: AttributeValue
  #    description: A value that is an integer
  #    slots:
  #      - has_numeric_value

  #  BooleanValue:
  #    class_uri: 'nmdc:BooleanValue'
  #    is_a: AttributeValue
  #    description: A value that is a boolean
  #    slots:
  #      - has_boolean_value

  ControlledTermValue:
    class_uri: 'nmdc:ControlledTermValue'
    is_a: AttributeValue
    description: A controlled term or class from an ontology
    slots:
      - term
    todos:
      - add fields for ontology, branch

  ControlledIdentifiedTermValue:
    class_uri: 'nmdc:ControlledIdentifiedTermValue'
    description: A controlled term or class from an ontology, requiring the presence of term with an id
    notes:
      - To be used for slots like env_broad_scale
    is_a: ControlledTermValue
    slot_usage:
      term:
        required: true

  GeolocationValue:
    class_uri: nmdc:GeolocationValue
    is_a: AttributeValue
    description: A normalized value for a location on the earth's surface
    slots:
      - latitude
      - longitude
    notes:
      - "what did 'to_str: {latitude} {longitude}' mean?"
    slot_usage:
      has_raw_value:
        description: The raw value for a geolocation should follow {latitude} {longitude}
      latitude:
        required: true
      longitude:
        required: true
    mappings:
      - schema:GeoCoordinates
slots:
  biomaterial_purity:
    range: QuantityValue
  term:
    range: OntologyClass
    description: pointer to an ontology class
    inlined: true
    notes:
      - "removed 'slot_uri: rdf:type'"